.flex-container {
  font-family: 'WTFont', sans-serif;
  font-size: 2rem;
  color: #00BCE5;
  height: 40px;
  display: flex;
  justify-content: flex-end;

  :hover {
    color: #FB09B7;
  }
}

.item {
  width: 15%;
}