.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    color: #FB09B7;
    font-family: 'WTFont', sans-serif;
    font-size: 3rem;
    letter-spacing: .5rem;
    margin: 2rem 0 .4rem 0;
  }

  .type {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .time {
    margin-bottom: .1rem;
  }

  .movements {
    font-family: 'WTFont', sans-serif;
    font-size: 2rem;
    color: #00BCE5;
    line-height: 3.4rem;
    letter-spacing: .3rem;
  }
}